<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<p>
  <%= link_to('New Artist', new_artist_path) if current_user&.role == 'admin' %>
</p>

<p>
  <strong>Sort:</strong>
  <%= link_to('Name', artists_path(:order_by => 'artist')) %>
  <%= link_to('\\', artists_path(:order_by => 'artist_d')) %>
</p>


    

<% @artists.each do |artist| %>
  <div class='grid'>
    <div class='title'>
      <h2>
        <%= link_to artist.name, artist %>
      </h2>
    </div>

    <div class='meta'><strong>Albums:</strong> <%= artist.albums.length %></div>

    <% if current_user&.role == 'admin' %>
      <div>
        <%= link_to('Edit', edit_artist_path(artist), class: 'danger') %>
        <span class='c-fg-alt'> | </span>
        <%= link_to('Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' }, class: 'danger') %>
      </div>
    <% end %>
  </div>
<% end %>
