<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<table>
  <thead>
    <tr>
      <th>
        <%= link_to('Name', artists_path(:order_by => 'artist')) %>
        <%= link_to('\\', artists_path(:order_by => 'artist_d')) %>
      </th>
      <th>Albums</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= link_to artist.name, artist %></td>
        <td><%= artist.albums.length %></td>

        <% if current_user&.role == 'admin' %>
          <td><%= link_to('Edit', edit_artist_path(artist), class: 'danger') %></td>
          <td><%= link_to('Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' }, class: 'danger') %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to('New Artist', new_artist_path) if current_user&.role == 'admin' %>
