<p id="notice"><%= notice %></p>


<strong>Artist</strong>
<h1><%= @artist.name %></h1>

<strong>Recommended Albums:</strong>
<ul>
  <% @artist.albums.each do |album| %>
    <li><%= link_to(album.name, album) %></li>
  <% end %>
</ul>

<% if current_user&.role == 'admin' %>
  <%= link_to('Edit', edit_artist_path(@artist), class: 'danger')%>
  <span>|</span>
<% end %>
<%= link_to('Back to Artists', artists_path) %>
