<p id="notice"><%= notice %></p>

<h1>Recommendations</h1>

<p><%= link_to('New Recommendation', new_recommendation_path) if user_signed_in? %></p>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th><%= link_to('Album', albums_path) %></th>
      <th><%= link_to('Artist', artists_path) %></th>
      <th>Submitted Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recommendations.each do |recommendation| %>
      <tr>
        <% # TODO: link to a page about the user %>
        <td><%= recommendation.user ? recommendation.user.name : recommendation.user_name %></td>
        <td><%= link_to(recommendation.album.name, album_path(recommendation.album)) %></td>
        <td><%= link_to(recommendation.album.artist.name, artist_path(recommendation.album.artist)) %></td>
        <td><%= recommendation.created_at.strftime('%Y-%m-%d') %></td>
        <td><%= link_to 'Show', recommendation %></td>

        <% if current_user&.role == 'admin' %>
          <% # TODO: users should be able to edit their own recommendations %>
          <td><%= link_to 'Edit', edit_recommendation_path(recommendation) %></td>
          <td><%= link_to('Destroy', recommendation, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% page_curr = params[:page] || 1 %>
<% page_prev = page_curr.to_i - 1 %>
<% page_next = page_curr.to_i + 1 %>

<% if @recommendations.length == page_size %>
  <p>
    <% if page_prev > 0 %>
      <%= link_to(page_prev, recommendations_path(params_index.merge(:page => page_prev))) %>
      <span class='c-fg-alt'> | </span>
    <% end %>

    Page <%= page_curr %>

    <span class='c-fg-alt'> | </span>
    <%= link_to(page_next, recommendations_path(params_index.merge(:page => page_next))) %>
  </p>
<% end %>