<p id="notice"><%= notice %></p>

<h1>Events</h1>

<p>
  <%= link_to('New Event', new_event_path, class: 'danger') if current_user&.role == 'admin' %>
</p>

<% @events.each do |event| %>
  <div class='grid'>
    <div class='title'>
      <h2>
        <%= link_to(event.name, event) %>
      </h2>
    </div>

    <div class='meta'><strong>Started at:</strong> <%= event.started_at %></div>
    <div class='meta'><strong>Albums:</strong> <%= event.plays.length %></div>

    <% if current_user&.role == 'admin' %>
      <div>
        <%= link_to('Edit', edit_event_path(event), class: 'danger') %>
        <span class='c-fg-alt'> | </span>
        <%= link_to('Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'danger') %>
      </div>
    <% end %>
  </div>
<% end %>
