<p id="notice"><%= notice %></p>

<strong>Event</strong>
<h1><%= @event.name %></h1>

<p>
  <strong>Started at:</strong>
  <%= @event.started_at %>
</p>

<p><strong>Plays</strong></p>
<ul>
  <% @event.plays.each do |play| %>
    <li><%= link_to(play.album.artist.name, play.album.artist) %> - <%= link_to(play.album.name, play.album) %></li>
  <% end %>
</ul>

<%= link_to('Edit', edit_event_path(@event), class: 'danger') if current_user&.role == 'admin' %> |
<%= link_to('Back', events_path) %>
