<p id="notice"><%= notice %></p>

<h1>Albums</h1>

<p>
  <%= link_to('New Album', new_album_path, class: 'danger') if current_user&.role == 'admin' %>
</p>

<%= form_tag(albums_path, :method => 'get') do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= hidden_field_tag(:order_by, params[:order_by]) %>
  <%= submit_tag('Search', :name => nil) %>
<% end %>

<%# TODO: search needs to be clearable %>

<p>
  Sort:
  <%= link_to('Name', albums_path(albums_params.merge(:order_by => 'album', :page => 1))) %>
  <%= link_to('\\', albums_path(albums_params.merge(:order_by => 'album_d', :page => 1))) %>
  <span class='c-fg-alt'> | </span>
  <%= link_to('Artist', albums_path(albums_params.merge(:order_by => 'artist', :page => 1))) %>
  <%= link_to('\\', albums_path(albums_params.merge(:order_by => 'artist_d', :page => 1))) %>
</p>

<% if @albums.empty? %>
 <p><strong>No Results</strong></p>
<% else %>
  <% @albums.each do |album| %>
    <div class='grid'>
      <div class='title'>
        <h2>
          <%= link_to(album.name, album) %>
        </h2>
      </div>

      <div class='meta'><strong>Artist:</strong> <%= link_to(album.artist.name, artist_path(album.artist)) %></div>
      <div class='meta'>
        <strong>Reccomendations:</strong>
        <%= album.recommendations.length %> since
        <%= album.recommendations.first.created_at.strftime('%Y-%m-%d') if album.recommendations.length > 0 %>
      </div>
      <div class='meta'><strong>Sources:</strong> <%= album.sources.length %></div>
      <div class='meta'><strong>Plays:</strong> <%= album.plays.length %></div>

      <% if current_user&.role == 'admin' %>
        <div>
          <%= link_to('Edit', edit_album_path(album), class: 'danger') %>
          <span class='c-fg-alt'> | </span>
          <%= link_to('Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, class: 'danger') %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% page_curr = params[:page] || 1 %>
  <% page_prev = page_curr.to_i - 1 %>
  <% page_next = page_curr.to_i + 1 %>

  <% if @albums.length == page_size %>
    <p>
      <% if page_prev > 0 %>
        <%= link_to(page_prev, albums_path(albums_params.merge(:page => page_prev))) %>
        <span class='c-fg-alt'> | </span>
      <% end %>

      Page <%= page_curr %>

      <span class='c-fg-alt'> | </span>
      <%= link_to(page_next, albums_path(albums_params.merge(:page => page_next))) %>
    </p>
  <% end %>
<% end %>
