<!DOCTYPE html>
<html>
  <head>
    <title>Curt's Album Party</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% # TODO: themes %>
    <style>
     :root {
        /* Abacab */
        --c-fg-main: hsl(0deg 0% 13%);
        --c-fg-alt: hsl(0deg 0% 33%);
        
        --c-bg-alt: hsl(0deg 0% 93%);
        --c-bg-main: hsl(0deg 0% 95%);
        --c-bg-interaction: hsl(0deg 0% 98%);

        --c-border: hsl(0deg 0% 83%);
        --c-link: hsl(240deg 60% 50%);
        --c-neg: hsl(0deg 60% 50%);

        /* Master of Reality
        --c-fg-main: hsl(220deg 7% 94%);
        --c-fg-alt: hsl(220deg 7% 74%);

        --c-bg-main: hsl(220deg 7% 23%);
        --c-bg-alt: hsl(220deg 7% 25%);
        --c-bg-interaction: hsl(220deg 7% 20%);

        --c-border: hsl(220deg 7% 15%);
        --c-link: hsl(100deg 43% 75%);
        --c-neg: hsl(300deg 80% 69%); */
      }
    </style>
  </head>

  <body>
    <nav>
      <% # Navigation Menu %>
      <div>
        <span>Curt's Album Party</span>
        <% unless current_page?(events_path) %>
          <span class='c-fg-alt'> | </span>
          <%= link_to('Events', events_path) %>
        <% end %>
        <% unless current_page?(albums_path) %>
          <span class='c-fg-alt'> | </span>
          <%= link_to('Albums', albums_path) unless current_page?(albums_path) %>
        <% end %>
      </div>

      <% # User Menu %>
      <div>
        <% if user_signed_in? %>
          <%= link_to(current_user.name, edit_user_registration_path) %>
          <span class='c-fg-alt'> | </span>
          <%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: 'danger') %>
        <% else %>
          <%= link_to('Sign Up', new_user_registration_path) unless current_page?(new_user_registration_path) %>

          <% if !current_page?(new_user_registration_path) && !current_page?(new_user_session_path)%>
            <span class='c-fg-alt'> | </span>
          <% end %>
          
          <%= link_to('Sign In', new_user_session_path) unless current_page?(new_user_session_path) %>
        <% end %>
      </div>
    </nav>

    <main>
      <%# TODO: is there a better semantic element? %>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>
    <main>
  </body>
</html>
